---
layout: page-with-sideNav
---

{{ content }}

{% assign our-journey = site.data.our-journey %}
{% for our-journey-section in our-journey %}
	<div class="col is-large bp-accordion-header padding has-icons-right field has-addons is-marginless">
		<div class="col is-expanded is-fullwidth is-paddingless">
			<h4 class="has-text-grey-dark is-marginless"><b> {{ our-journey-section.title }}
			</b></h4>
		</div>
		<span class="bp-icon bp-icon-plus is-size-5 bp-accordion-button"></span>
	</div>
	<div class="col padding">
		<h3><b>{{ our-journey-section.subtitle }}</b></h3>
		{% for line in our-journey-section.content %}
			<p>{{ line }}</p>
		{% endfor %}
	</div>
{% endfor %}